
.aboutMainContainer{
 /* margin:6rem ; */
 /* border:1px solid red; */
 text-align: center;   
}
.aboutContainer{
    display: flex;
    margin-top: 2%;
}
.aboutImgContainer{
    /* border: 1px solid green; */
    width: fit-content
}
.aboutImg{
    width: 100%;
}
.aboutTextContainer{
    /* border: 1px solid blue; */
    width: 50%;
    margin: 1rem ;
}
.aboutH1{
    margin: 1.5rem;
    font-weight: 400;
    font-size: 25px;
    font-family: Montserrat;
}
.aboutp{
    margin: .5rem;
    font-size: 15px;
    font-family: OLD STANDARD TT;

}
.abouthr{
    font-size: large;
/* border: 1px solid blue; */
height: 5px;
}

@media (max-width: 990px){
    .aboutMainContainer{
        margin:1rem ;
        /* border:1px solid red; */
        text-align: center;   
       }
       #aboutTextContainer2{
           text-align: right;
           /* border: 1px solid red; */
       }
    .aboutContainer{
        display: block; 
    }
    .aboutTextContainer{
        /* border: 1px solid blue; */
        width: 100%;
        text-align: left;
        margin: 0rem ;
    }
    .aboutH1{
        margin: 1.2rem;
        font-weight: lighter;
        font-size: 25px;
        color: black;
        width: 60%;
    }
    #aboutH1-2{
        margin-left: 35%;
        /* border: 1px soild blue; */
        /* margin: 0rem; */
        text-align: right;
    }
    .aboutp{
        margin: 5px;
        font-size: 15px;
    }
    .abouthr{
        /* font-size: large; */
    /* border: 1px solid blue; */
    /* height: 5px; */
    }
}
@media (min-width: 991px) and (max-width:1125px){
    .aboutH1{
        margin: 0rem;
        /* border: 1px solid palevioletred;  */
        font-weight: lighter;
        font-size: 25px;
        color: black;
        width: 80%;
    }
}