
.addSubCat_most_main_div .title_subDiv{
    margin-top: 0;
    /* margin-bottom: 0.5em; */
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    color: #407db6;
    text-align: center;
    font-family: Old Standard TT;
}
.addSubCat_most_main_div .form_main_div{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.SubCat{
    margin-top: 1em;
    margin-bottom: 0px;
}